<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <style>
    .container {
      max-width: 580px;
    }
    .field-error {
      border-color: #dc3545;
      color: #dc3545;
    }
    .not-found-id {
      border-color: #dc3545;
      color: #dc3545;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="py-5 text-center">
      <h2 th:text="#{page.deleteProduct}"></h2>
    </div>

    <br>

    <form th:action th:object="${product}" method="post">

      <div>
        <label class="py-1" for="id" th:text="#{label.product.id}"></label>
        <input type="text" id="id" th:field="*{id}" th:errorclass="field-error"
              class="form-control" placeholder="제품 ID를 입력하세요.">

        <div class="field-error" th:errors="*{id}">
          제품 아이디 입력 오류
        </div>
        <div class="not-found-id" th:if="${isExist == false}" th:text="|존재하지 않는 제품 ID 입니다.|"></div>
      </div>

      <hr class="my-4">

      <div class="row">
        <div class="col">
          <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.delete}"></button>
        </div>

        <div class="col">
          <button class="w-100 btn btn-secondary btn-lg"
                  th:onclick="|location=href='@{/views/products}'|"
                  type="button" th:text="#{button.cancel}">취소
          </button>
        </div>
      </div>
    </form>
  </div> <!-- /container -->
</body>

</html>